*{
    padding:0;
    margin:0
}

a{
    text-decoration:none
}

.index__container{
    height:100vh
}

.one{
    min-height:200px;
    height:200px;
    width:650px;
    background-color:#639;
    margin:50px
}
circle{
    fill:#00690C;
}

/* You should start to write here*/
#outermost{
    margin:50px;
    border:2px dashed darkcyan;
    margin-left:50px;
}
