.st1{
    fill:#F26522;
    stroke:#662D91;
    stroke-width:20;
    stroke-miterlimit:10;
    opacity: .75;
}
.st2{
    fill:#F26522;
    stroke:#662D91;
    stroke-width:20;
    stroke-miterlimit:10;
    fill-opacity: .75;
    stroke-opacity: .75;
}

.pnt_order__reversed{
    paint-order: stroke fill;
}