.st0{
    fill:none;
    stroke:#F26522;
    stroke-width:20;
    stroke-dasharray: 30px 30px;
}
.st1{
    fill:none;
    stroke: black;
    stroke-width:20;
    stroke-dasharray: 30px 2370px;
    stroke-dashoffset: 0px;
}