@keyframes ten-percents{
    0%{
        stroke-dasharray: 0px 1256px;
    }
    100%{
        stroke-dasharray: 125.6px 1256px;
    }
}


@keyframes thirty-percents{
    0%{
        stroke-dasharray: 0px 1256px;
    }
    100%{
        stroke-dasharray: 377px 1256px;
    }
}


@keyframes fifty-percents{
    0%{
        stroke-dasharray: 0px 1256px;
    }
    100%{
        stroke-dasharray: 628.3px 1256px;
    }
}
@keyframes one-hundred-percents{
    0%{
        stroke-dasharray: 0px 1256px;
    }
    100%{
        stroke-dasharray: 1256px 1256px;
    }
}

.st0{
    fill:none;
    stroke:#3C5F42;
    stroke-width:30;
    transform:rotate(-90deg);
    transform-origin: 400px 400px;
    animation-name: one-hundred-percents;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}